.cheifeofoption{
    position: relative;
    top: 150px;
}
.cheifeofoption li{
    text-transform:uppercase;
    transition:  linear .4s ;
    font-weight: 700;
   
}
li:hover{
    /* color: rgba(0, 255, 0, 0.38); */
}
